.field-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.field-nombre {
  font-weight: bold;
  margin-top: 5px;
  color: #333;
}

h4 {
  display: block;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
