<div class="row">
  <div class="col-sm-3">
    <div class="field-info">
      <label class="field-nombre">Nombre</label>
      <div class="label">{{tratamiento.nombre}}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field-info">
      <label class="field-nombre">Descripción</label>
      <div class="label">{{tratamiento.descripcion}}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field-info">
      <label class="field-nombre">Dosis</label>
      <div class="label">{{tratamiento.dosis}}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field-info">
      <label class="field-nombre">Fecha de inicio</label>
      <div class="label">{{tratamiento.fechaInicio}}</div>
    </div>
  </div>
</div>
