.mascota-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.mascota-nombre {
  font-weight: bold;
  margin-top: 5px;
  color: #333;
}

mat-form-field {
  width: 100%;
}

.buttones-container {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 1%;
}
